<tjs-three-js-stage
  #stage
  class="layer"
  [backgroundColor]="'white'"
  [orbitControls]="orbitControls.controls"
  [camera]="defaultCamera.camera">

  <tjs-mesh #ground
            [receiveShadow]="true"
            [material]="{color: 'white', side:'back'|side, depthWrite:false}|meshPhongMaterial"
            [rotation]="{x:90|radians, y:0, z:0}|vector3"
            [geometry]="{width: 100, height: 100}|planeBufferGeometry">
  </tjs-mesh>

  <tjs-orbit-controls
    #orbitControls
    [camera]="defaultCamera.camera"
    [target]="{x: 0, y:1, z:0}|vector3"
    [options]="{
      enableDamping: true,
      minDistance: 12,
      maxDistance: 12,
      minPolarAngle:0,
      maxPolarAngle:100|radians
    }"
    [renderer]="stage.renderer">
  </tjs-orbit-controls>

  <tjs-perspective-camera
    [position]="{x: 8.978268137976093, y:1.4259925772313005, z:2.766455512629831}|vector3"
    #defaultCamera>
  </tjs-perspective-camera>

  <tjs-hemisphere-light
    [castShadow]="true"
    [groundColor]="'#FFFFFF'"
    [color]="'#FFFFFF'"
    [intensity]="0.2"
    [position]="{x:10, y: 10, z: 10}|vector3"
    [showHelper]="true">
  </tjs-hemisphere-light>

  <tjs-directional-light
    [castShadow]="true"
    [position]="{x:10, y: 10, z: 10}|vector3"
    [showHelper]="true">
  </tjs-directional-light>

  <tjs-gltf-loader
    (objectClick)="onRockClicked($event)"
    [isButton]="true"
    [castShadow]="true"
    [receiveShadow]="true"
    [position]="{x: 0, y: 1.2, z: 0}|vector3"
    [scale]="{x: 3, y: 3, z: 3}|vector3"
    [passport]="{url: 'assets/3d/rock/scene.gltf'}">
  </tjs-gltf-loader>

  <ng-template ngFor [ngForOf]="menu" let-menuItem let-i="index">

    <tjs-group
      [name]="'group-'+menuItem.id"
      [position]="{x: 0, y: 0, z: 0}|circleLayout:15:(((360/menu.length)*i)|radians)">

      <tjs-mesh
        #box
        [isButton]="true"
        [name]="'cube-'+i"
        (objectClick)="onMenuObjectClicked($event)"
        [data]="menuItem"
        [castShadow]="true"
        [receiveShadow]="true"
        [geometry]="{width: 1, height:1, depth: 1}|boxBufferGeometry"
        [position]="{x:0, y:5, z:0}|vector3"
        [material]="{color: menuItem.color, side:'front'|side}|meshPhongMaterial">
      </tjs-mesh>

    </tjs-group>

  </ng-template>

  <router-outlet></router-outlet>

</tjs-three-js-stage>

<div class="navigation layer">

  <nav>

    <a class="home-link"
       [routerLink]="['/']"
       [innerHTML]="'Rock'"
       [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{exact: true}"></a>

    <ng-template ngFor [ngForOf]="menu" let-menuItem let-i="index">

      <a  #rla="routerLinkActive"
          class="section-link"
          [style.backgroundColor]="rla.isActive?menuItem.color:null"
          [routerLink]="[menuItem.path]"
          [routerLinkActive]="'active'">
        <span class="color-shape" [style.backgroundColor]="menuItem.color"></span>
        <span [innerHTML]="menuItem.label"></span>
      </a>

    </ng-template>

  </nav>

  <!--

<ng-container *ngIf="defaultCamera.camera">

  <pre>x:{{defaultCamera.camera.position.x}}, y:{{defaultCamera.camera.position.y}}, z:{{defaultCamera.camera.position.z}}</pre>

</ng-container>

-->

</div>

