app-root {

  --color-sketchfab: #1caad9;

  font-family: sans-serif;

  .layer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .navigation {

    pointer-events: none;
    user-select: none;

    display: flex;
    justify-content: center;

    padding-top: 2rem;

    nav {

      display: flex;
      align-self: flex-start;

      pointer-events: auto;

      a + a {
        margin-left: 1rem;
      }

      a {
        color: black;
        padding: 0.5em 0.75em;
        text-decoration: none;
        text-transform: uppercase;
      }

      a {

        display: flex;
        align-items: center;

        &.section-link {

          &.active {
            color: white;
          }

          .color-shape {
            margin-right: 5px;
            display: block;
            width: 20px;
            height: 20px;
          }

        }
      }

      a.home-link {

        font-weight: normal;

      }

      a.home-link.active {
        font-weight: bold;
      }

    }

  }

  .sketchfab-group{

    position: absolute;
    bottom:20px;
    left: 20px;
    pointer-events: auto;
    font-size: 12px;

    a{
      pointer-events: auto;
      color: var(--color-sketchfab);
    }
  }

  .madeinlune-group{

    position: absolute;
    bottom:20px;
    right: 20px;
    pointer-events: auto;

    background-color: #111034;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;

    h3{
      margin: 0;
      color: #4FBAFF;
    }
    p{
      margin: 0;
    }
    a{
      color: inherit;
      text-decoration: none;
      opacity: 0.5;
    }

  }

}
