<tjs-three-js-stage
  #stage
  [backgroundColor]="'white'"
  [orbitControls]="orbitControls.controls"
  [camera]="defaultCamera.camera">

  <tjs-orbit-controls
    #orbitControls
    [camera]="defaultCamera.camera"
    [options]="{
      enableDamping: true,
      minDistance: 10,
      maxDistance: 50
    }"
    [target]="{x:0, y: 0, z:0 }|vector3"
    [renderer]="stage.renderer">
  </tjs-orbit-controls>

  <tjs-perspective-camera
    #defaultCamera>
  </tjs-perspective-camera>

  <tjs-point-light
    [showHelper]="true"
    [position]="{x:-10, y: -10, z: -10}|vector3">
  </tjs-point-light>

  <tjs-ambient-light
    [intensity]="0.5">
  </tjs-ambient-light>

  <tjs-spotlight
    [penumbra]="1"
    [angle]="0.15"
    [position]="{x:10, y: 10, z: 10}|vector3"
    [showHelper]="true">
  </tjs-spotlight>

  <tjs-mesh
    #box1
    [geometry]="{width: 1, height:1, depth: 1}|boxBufferGeometry"
    [position]="{x:-1.2, y: 0, z: 0}|vector3"
    [material]="{color: box1.interactiveState === 'hover'?'hotpink':'orange', side:'front'|side}|meshPhongMaterial">
  </tjs-mesh>



  <tjs-mesh
    #box2
    [geometry]="{width: 1, height:1, depth: 1}|boxBufferGeometry"
    [position]="{x:1.2, y: 0, z: 0}|vector3"
    [material]="{color: box2.interactiveState === 'hover'?'red':'orange', side:'front'|side}|meshPhongMaterial">
  </tjs-mesh>

</tjs-three-js-stage>
<!--
<ng-container *ngIf="defaultCamera.camera">

  <pre>x:{{defaultCamera.camera.position.x}}, y:{{defaultCamera.camera.position.y}}, z:{{defaultCamera.camera.position.z}}</pre>

</ng-container>
-->
