<tjs-three-js-stage
  #stage
  [orbitControls]="orbitControls.controls"
  [camera]="defaultCamera.camera">

  <tjs-orbit-controls
    #orbitControls
    [camera]="defaultCamera.camera"
    [options]="{
      enableDamping: true,
      minDistance: 10,
      maxDistance: 50
    }"
    [target]="{x:0, y: 0, z:0 }|vector3"
    [renderer]="stage.renderer">
  </tjs-orbit-controls>

  <tjs-perspective-camera #defaultCamera></tjs-perspective-camera>

  <tjs-point-light [position]="{x: 3, y: 3, z: 0}"></tjs-point-light>

  <tjs-point-light [position]="{x:-3, y: 3, z: 0}"></tjs-point-light>

  <tjs-mesh
    [geometry]="{width: 2, height:2, depth: 2}|boxBufferGeometry"
    [material]="{color: '#ff0000', side:'both'|side}|meshPhongMaterial">
  </tjs-mesh>

</tjs-three-js-stage>
