<tjs-group [parentName]="selectedGroupName$|async">

  <tjs-mesh
    #box
    [castShadow]="true"
    [receiveShadow]="true"
    [geometry]="{width: 0.7, height:0.7, depth: 0.7}|boxBufferGeometry"
    [position]="{x: 0, y: 7, z: 0}|vector3"
    [material]="{color: 'red', side:'front'|side}|meshPhongMaterial">
  </tjs-mesh>

  <tjs-text-shape
    [circleLayout]="true"
    [radius]="5"
    [position]="{x: 0, y: 3, z: 2.5}|vector3" [size]="0.7">
    <p #paragraph>{{(currentContent$|async).label}}</p>
  </tjs-text-shape>

</tjs-group>
